<%- include('partials/head'); %> 
<% var users = locals.channels.users %>
<% var owned = locals.channels.owned %>
<% var subscribed = locals.channels.subscribed %>
<div class="channel-page">
	<div class="row" id="welc-top"></div>
	<div class="row" id="welc-midd">
		<div class="col-3"></div>
		<div class="col-6" id="channel-container">
			<div class="row" id="above-channels">
				<div class="col-1"></div>
                <div class="col-10"></div>
                <div class="col-1" id="iconcontainer">
                    <form action="/home" method="GET" id="close-form">
                        <button type="submit" form="close-form" id="close-button">
                            <i class="fas fa-times" id="exit-icon"></i>
                        </button>   
                    </form>
                </div>
			</div>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="channel-title">
						<h3>Name Group</h3>
					</div>
					<form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
						<input type="text" class="form-control" name="name" placeholder="Group Name" value="">
						<div class="group-avatar">
							<label for="avatar-upload"><h3>Choose Image</h3>
								<input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
							</label>
						</div>
						<img src="<%= channel.image %>">
						<% if (users) { %>
							<% users.forEach(function(user) { %>
								<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
								<p><%= user.name %></p>
							<% }) %>
						<% } %>
						<div class="under-avatar-line"></div>
						<div class="margin"></div>
						<div class="user-title">
							<h3>Invite Friends</h3>
						</div>
						<input type="text" class="form-control" name="users" placeholder="Invite Users" value="">
						<button class="btn" id="create-channel" type="submit">Create</button>
					</form>
					<div class="under-create-line"></div>
					<div class="your-channels-container">
						<div id="owned-channels" class="user-channels">
							<div class="your-channels">
								<h4>Your Groups</h4>
							</div>
						<% if (owned) { %>
							<ul>
							<% owned.forEach(function(channel) { %>
								<li>
									<img src="<%= channel.image %>" alt="<%= channel.name %>" >
									<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
									<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
								</li>
							<% }) %>
							</ul>
						<% }  %>
						</div>
						<div id="subscribed-channels">
							<div class="subscribed-title">
								<h4>Subscribed Channels</h4>
							</div>
						<% if (subscribed) { %>
							<ul>
							<% subscribed.forEach(function(channel) { %>
								<li>
									<img src="<%= channel.image %>" alt="<%= channel.name %>">
									<a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
								</li>
							<% }) %>
							</ul>
						<% }  %>
						</div>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row"></div>
		</div>
		<div class="col-6"></div>
	</div>
	<div class="row" id="welc-bott"></div>
</div>
<%- include('partials/footer'); %> 