<%- include('partials/head'); %>
<% var owned = locals.channels.owned %>
<% var subscribed = locals.channels.subscribed %>

<div class="d-flex h-100">
  <div class="left-sidebar w-25 p-3 h-100 d-flex flex-column">
    <div id="home-group">
      <h3><b>Groups</b></h3><hr>
      <% if (owned) { %>
        <% owned.forEach(function(channel) { %>
          <h4>
            <img class="rounded-circle" src="<%= channel.image %>" alt="<%= channel.name %>" width="50" height="50">
            <a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
            <a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </h4>
      <% })} %>
      <a class="btn btn-light w-100 mb-3" href="/channels">
        Create a new group
      </a>
    </div>
    <div id="subscribed-channels">
      <% if (subscribed) { %>
        <ul>
          <% subscribed.forEach(function(channel) { %>
            <li>
              <img src="<%= channel.image %>" alt="<%= channel.name %>">
              <a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
            </li>
          <% }) %>
        </ul>
      <% }  %>
    </div>
    <div class="mt-auto">
      <h5>
        <hr>
        <strong><%= locals.user.displayName %></strong>
        <a class="text-primary" href="/account">[Edit Profile]</a>
        <div><%= locals.user.email %></div>
      </h5>
    </div>
  </div>

  <div class="w-75 h-100 d-flex flex-column">
    <h3 class="p-3 d-flex flex-row" id="messages">
      <b>Messages</b>
      <div class="ml-auto">
        <i class="fas fa-cogs"></i>
        <a class="btn btn-dark text-light" href="/logout">
          Logout
        </a>
      </div>
    </h3>
    <div class="mt-auto p-4">
      <div class="d-flex">
        <input class="w-100 mr-4" type="text">
        <i class="fas fa-share text-primary fa-2x"></i>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); %>
